nav, main {
 max-width: 64rem;
margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
.headerWrapper{
        height: 400px;
        background-image: url(../images/header-large.jpg);
        background-size: cover;
}

header .head-text{
        h1 {font-size: 7.2em;}
        h2 {font-size: 3.3em;}
    }
#hamburgerBtn {
display: none;
}


/*----------- NAVIGATION --------------*/
.navWrapper{
        background-color: lighten($lightGreen, 12%);
}
nav {
        position: static;
        transform: translateX(0);
        width: auto;
        ul {
          display: flex;
          justify-content: space-between;
        }
        ul li a{padding: .9rem 2.5rem;}
        div {
          display: none;
        }
      }


/*----------- MAIN --------------*/
main{
        .greenBtn{
            border-radius: 20px;
            width: 260px;
            font-size: 1.5em;
        }
    
        p{font-size: 1.7em;}
    
        .pinkBtn{
            width: 270px;
            font-size: 3.2em;
        }
    
        .socialIcons{
            font-size: 3.8em;
        }

        .side-page{
                #participateBtns{
                    grid-template-columns: 1fr 1fr 1fr 1fr;
            }
            .pinkBtn{
                font-size: 2em;
                margin: .7em .4em 0 .4em;
                width: 95%;
            }
        }
    }


/*----------- FOOTER --------------*/
    
