main {
 max-width: 64rem;
margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
.headerWrapper{
        height: 400px;
        background-image: url(../images/header-large.jpg);
        background-size: cover;
}

header .head-text{
        h1 {font-size: 7.2em;}
        h2 {font-size: 3.3em;}
    }
#hamburgerBtn {
display: none;
}


/*----------- NAVIGATION --------------*/
nav {
        position: static;
        transform: translateX(0);
        width: auto;
        ul {
          display: flex;
          justify-content: space-between;
        }
        ul li a{padding: .9rem 2.5rem;}
        div {
          display: none;
        }
      }


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
