/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: $fancyFont;
}

#pageWrapper{
    position: relative;
    overflow-x: hidden;
}

.moveOver > .content{transform: translateX(-180px);}
.content {transition: transform 500ms ease;}

/*----------- HEADER --------------*/
.headerWrapper {
    height: 140px;
    background-image: url(../images/header-small.jpg);
    background-position: left bottom;
  }
header {
    height: 100%;
    width: 100%;
    color: #fff;
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-columns: auto 48px;
    padding: .5rem 2vw;
    background-color: rgba(98, 18, 58, 0.5);

    .head-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            margin: 0;
            font-size: 3.2em;
        }
        h2 {
            margin: 0; 
            font-weight: 700;
            font-size: 1.5em;
        }
    }

    button{
        width: 52px;
        height: 52px;
        margin: 0;
        align-self: start;
        background: none;
        border: none;
        font-size: 2.5rem;
        text-align: right;
        color: lighten($lightGreen, 15%);
    } //end button
}

/*----------- NAVIGATION --------------*/
nav {
    background-color: lighten($lightGreen, 12%);
    font-family: $regularFont;
    width: 180px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translate(100%);
    div{
        background-color: $lightGreen;
        display: block;
        text-align: center;
        padding: 1.5rem;
        font-size: 1.1rem;
        color: $darkPink;
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li a {
    display: block;
    background-color: lighten($lightGreen, 12%);
    color: #000;
    text-decoration: none;
    font-size: .9rem;
    text-align: right;
    padding: .9rem .5rem;
} // end anchors

ul li a:hover {
    background-color: $lightGreen;
}
ul li.active a {
    background-color: $darkPink;
    color: #fff;
}
}


/*----------- MAIN --------------*/
.mainWrapper{
    margin: 0;
    padding: 0;
        img{width: 100%;}
    }
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2em 2% 0 2%;
    min-height: 10rem;
    background-color: tr;

    p{
        font-family: $regularFont;
        font-weight: 200;
        font-size: 1.2em;
    }

    .greenBtn{
        background-color: darken($darkGreen, 5%);
        color: #fff;
        border: none;
        border-radius: 20px;
        width: 200px;
        margin: 0 auto;
        padding: .5em;
        font-family: $regularFont;
        font-size: 1.2em;
    }

    .pinkBtn{
        background-color: lighten($lightPink, 10%);
        color: #000;
        border: none;
        border-radius: 12px;
        width: 210px;
        margin: 0 auto;
        padding: .5em;
        font-size: 2em;
    }

    .socialIcons{
        margin: 1.2em 0 0 0;
        color: $darkPink;
        font-size: 3em;
    }

    //SWIPER code start
  // places the dots below the image
  .swiper-wrapper {
    margin: 2em 0;
  }
  .swiper {
    width: 100%;
    height: auto;
    picture,
    img {
      width: 100%;
      display: block;
    }
    p {
      margin: 0;
      padding: 1rem 2vw;
      position: absolute;
      transform: translateY(-100%);
      background-color: rgba(0, 0, 0, 0.5);
      text-align: center;
      color: white;
      width: 100%;
    }
    b {
      font-weight: $boldWeight;
    }
  } // end swiper

  .side-page{
    h1 {
        color: $darkPink;
        text-align: left;
        font-size: 3em;
        margin: 0 0 .5em 0;
    }
    p{text-align: left;}
    #participateBtns{
        display: grid;
        grid-template-columns: 1fr;
        button{
            margin-bottom: .8em;
            min-height: 110px;
        }
    }
    ul li{
        text-align: left;
        font-family: $regularFont;
        list-style-type: none;
        padding-bottom: .75rem;
        font-weight: 200;
    }

    // ABOUT US INFO CARDS
    .volunteers{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .person-card{
            padding: 1em;
            margin: 1em;
            background-color: $lightPink;
        }
        img{
            width: 100%;
            height: auto;
        }
        button{
            background-color: $darkGreen;
            width: 100%;
            border: none;
            padding: .5em;
        }
        a{
            text-decoration: none;
            text-align: center;
            color: lighten($darkGreen, 55%);
        }
         /* LAZY LOADING */
    section.thegallery figure {
        width: 100%;
        height: 0;
        padding-bottom: 68%; /* You define this doing image height / width * 100% */
        position: relative;
    }
    
    section.thegallery figure img {
        width: 100%;
        height: auto;
        position: absolute;
    }
    }
    } // end side-page
    /*------------ FORM -------------*/
form {
    text-align: left;
    font-family: $regularFont;
    fieldset {
    margin: 1rem 0 2em 0;
    border: 2px solid $darkPink;
    border-radius: 10px;
    padding: .5rem .5rem 1rem .5rem;
}

 legend{
    color: $darkPink;
    margin: 0 1rem;
    padding: 0 .5rem;
}

 label.top, form div {
    display: block;
    padding: 4%;
    color: lighten($darkPink, 10%);
    font-size: .8rem;
}

 div{padding: .25rem}

 #message-box input{padding: .75rem .75rem 10rem .75rem;}

 label.top input, form label.top select{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border-radius: 20px;
    border: none;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: lighten($lightGreen, 15%);
}

 label.sbs {
    display: block;
    color: #555;
    padding: .25rem 0 .25rem 1.5rem;
}

 input.submitBtn {
    border: none;
    background-color: $darkPink;
    font-size: 1.5em;
    color: lighten($lightGreen, 20%);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    width: 96%;
    max-width: 20rem;
    margin: 2%;
}

 label.top input:required{
    border: rgb(218, 0, 0) solid 2.5px;
}

 label.top input:required:valid {
    border: rgb(12, 108, 12) solid 2.5px;
}
} // END OF FORM
} // END OF MAIN


/*----------- FOOTER --------------*/
footer {
    background-color: $darkGreen;
    padding: 1rem 2%;
    text-align: center;
    font-family: $regularFont;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}