/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: $fancyFont;
}

#pageWrapper{
    position: relative;
    overflow-x: hidden;
}

.moveOver > .content{transform: translateX(-180px);}
.content {transition: transform 500ms ease;}

/*----------- HEADER --------------*/
.headerWrapper {
    height: 140px;
    background-image: url(../images/header-small.jpg);
    background-position: left bottom;
  }
header {
    height: 100%;
    width: 100%;
    color: #fff;
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-columns: auto 48px;
    padding: .5rem 2vw;
    background-color: rgba(98, 18, 58, 0.4);

    .head-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            margin: 0;
            font-size: 3.2em;
        }
        h2 {margin: 0; font-weight: 700;}
    }

    button{
        width: 52px;
        height: 52px;
        margin: 0;
        align-self: start;
        background: none;
        border: none;
        font-size: 2.5rem;
        text-align: right;
        color: lighten($lightPink, 15%);
    } //end button
}

/*----------- NAVIGATION --------------*/
nav {
    background-color: lighten($lightGreen, 12%);
    font-family: $regularFont;
    width: 180px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translate(100%);
    div{
        background-color: $lightGreen;
        display: block;
        text-align: center;
        padding: 1.5rem;
        font-size: 1.1rem;
        color: $darkPink;
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li a {
    display: block;
    background-color: lighten($lightGreen, 12%);
    color: #000;
    text-decoration: none;
    font-size: .9rem;
    text-align: right;
    padding: .9rem .5rem;
} // end anchors

ul li a:hover {
    background-color: #eee;
    color: #333;
}
ul li.active a {
    background-color: $darkPink;
    color: #fff;
}
}


/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
    p{font-family: $regularFont;}
}


/*----------- FOOTER --------------*/
footer {
    background-color: $darkGreen;
    padding: .5rem 2%;
    text-align: center;
    font-family: $regularFont;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}