$fancyFont: 'Ruddy', sans-serif;
$regularFont: 'Source Sans Pro', sans-serif;
$lightWeight: 200;
$regularWeight: 400;
$boldWeight: 700;

$darkPink: #A74A6D;
$lightPink: #F26DA0;
$darkGreen: #3AA641;
$lightGreen: #8CFF94;