/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  box-sizing: border-box;
}

/* BODY  */
body {
  font-family: "Spline Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  min-width: 320px;
}

/* HEADER  */
header {
  display: grid;
  grid-template-columns: 51px auto;
  align-items: center;
  padding: 0.5rem 2vw;
}
header h1 {
  font-size: 1.6rem;
  font-weight: 300;
  padding-left: 0.5rem;
  color: #cc7a26;
}

/* NAVIGATION STUFF GOES HERE  */
nav ul li a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 0.9rem 2vw;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
}
nav ul a:hover {
  background-color: #eee;
}
nav ul li.active a {
  background-color: #f5dfc9;
}

/* MAIN  */
main p {
  padding: 0.5rem 2vw;
  color: #333;
  line-height: 125%;
}
main h1 {
  padding: 1rem 2vw 0.5rem 2vw;
  font-size: 1.5rem;
  color: #265b7d;
  font-weight: 300;
}
main .hero {
  width: 100%;
}
main .hero img {
  width: 100%;
  height: auto;
}

/* FOOTER  */
#footerWrapper {
  background-color: #1b1b1b;
}

footer {
  font-size: 0.85rem;
  padding: 1rem 0;
  color: #bbb;
  text-align: center;
}
footer a {
  color: #eee;
}

@media only screen and (min-width: 35rem) {
  /* NAVIGATION STUFF GOES HERE  */
  nav ul {
    display: flex;
  }
  nav ul li a {
    border: none;
  }
}
@media only screen and (min-width: 64rem) {
  header, nav, main {
    max-width: 1240px;
    margin: auto;
  }
  /* NAVIGATION STUFF GOES HERE  */
  nav ul li a {
    padding: 0.7rem 2rem;
    font-size: 0.8rem;
  }
}tton],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-size: 16px;
  font-family: "Ruddy", sans-serif;
}

#pageWrapper {
  position: relative;
  overflow-x: hidden;
}

.moveOver > .content {
  transform: translateX(-180px);
}

.content {
  transition: transform 500ms ease;
}

/*----------- HEADER --------------*/
header {
  padding: 0.5rem 2%;
  background-color: #ddd;
}
header h1 {
  margin: 0;
}
header h2 {
  margin: 0;
  font-weight: normal;
}
header button {
  width: 52px;
  height: 52px;
  margin: 0;
  align-self: start;
  background: none;
  border: none;
  font-size: 2.5rem;
  text-align: right;
  color: #A74A6D;
}

/*----------- NAVIGATION --------------*/
nav {
  background-color: #d9ffdb;
  font-family: "Source Sans Pro", sans-serif;
  width: 180px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translate(100%);
}
nav div {
  background-color: #8CFF94;
  display: block;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.1rem;
  color: #A74A6D;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  float: left;
  width: 25%;
}
nav ul li a {
  display: block;
  background-color: #d9ffdb;
  color: #000;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: right;
  padding: 0.9rem 0.5rem;
}
nav ul li a:hover {
  background-color: #eee;
  color: #333;
}
nav ul li.active a {
  background-color: #A74A6D;
  color: #fff;
}

/*----------- MAIN --------------*/
main {
  padding: 0 2%;
  min-height: 10rem;
}
main p {
  font-family: "Source Sans Pro", sans-serif;
}

/*----------- FOOTER --------------*/
footer {
  background-color: #ddd;
  padding: 0.5rem 2%;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 35rem) {
  /*----------- BODY --------------*/
  /*----------- HEADER --------------*/
  /*----------- NAVIGATION --------------*/
  nav ul {
    margin-left: 2%;
  }
  nav ul li {
    width: auto;
  }
  nav ul li a {
    padding: 0.5rem 1rem;
  }
  /*----------- MAIN --------------*/
  /*----------- FOOTER --------------*/
} /* end of media query */
@media only screen and (min-width: 64rem) {
  header, nav, main, footer {
    max-width: 64rem;
    margin: auto;
  }
  /*----------- BODY --------------*/
  /*----------- HEADER --------------*/
  /*----------- NAVIGATION --------------*/
  nav {
    position: static;
    transform: translateX(0);
    width: auto;
  }
  nav ul {
    display: flex;
    margin-left: 2%;
  }
  nav div {
    display: none;
  }
  /*----------- MAIN --------------*/
  /*----------- FOOTER --------------*/
} /* end of media query */ color: #fff;
}

nav ul li.active a {
  background-color: #004d00;
  color: #fff;
}

main {
  display: block;
}
main picture.hero {
  width: 100%;
}
main img {
  width: 100%;
  height: auto;
}
main h1 {
  color: #e4c517;
  font-weight: 700;
  margin: 0.3em 2%;
}
main p {
  margin: 1em 2% 2em 2%;
}
main figure {
  float: right;
  width: 48%;
  margin-left: 2%;
  margin-bottom: 0.5rem;
}
main figcaption {
  text-align: center;
  font-size: 0.8rem;
}

div#footerWrapper {
  background-color: #e4c517;
}

footer {
  text-align: center;
  padding: 1rem 2%;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 560px) {
  nav li {
    width: auto;
  }
  nav ul li a {
    padding: 0.5rem 1rem;
  }
  /* NAV */
  nav button {
    display: none;
  }
  nav ul,
nav ul.open {
    margin-left: 2%;
    display: flex;
    justify-content: flex-start;
  }
  nav ul {
    padding-left: 2%;
  }
  nav li {
    width: auto;
  }
  nav a {
    padding: 0.5rem 1rem;
  }
  /* HEADER */
  header { /* top | right | bottom | left */ }
  header #header-text {
    margin: 1.3em 0 1em 1em;
  }
  header h2 {
    display: block;
  }
  /* MAIN */
  div.news {
    clear: both;
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-rule: 1px solid #ddd;
         column-rule: 1px solid #ddd;
  }
} /* end of media query */
@media only screen and (min-width: 1028px) {
  header,
nav,
main,
footer {
    max-width: 1200px;
    margin: auto;
  }
  div.news {
    -moz-column-count: 3;
         column-count: 3;
  }
} /* end of media query */