header,
nav,
main,
footer {
  max-width: 60rem;
  margin: auto;
}

/*----------- BODY --------------*/

/*----------- HEADER --------------*/
.headerWrapper{
        height: 400px;
        background-image: url(../images/hero-large.jpg);
        background-size: cover;
}

/*----------- NAVIGATION --------------*/

nav {
  button {
    display: none;
  }
  ul, ul.open{
        margin-left: 2%;
        display: flex;
        justify-content: flex-end;
  }
}

/*----------- MAIN --------------*/

/*----------- FOOTER --------------*/
