


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
.headerWrapper{
    height: 240px;
    background-image: url(../images/hero-medium.jpg);
}



/*----------- NAVIGATION --------------*/
    nav {
        ul li {width: auto;}
     ul li a{padding: .5rem 1rem;}
    }


/*----------- MAIN --------------*/
main{
    .card {flex-basis: 48%;}
}


/*----------- FOOTER --------------*/
    
