


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
.headerWrapper{
    height: 240px;
    background-image: url(../images/hero-medium.jpg);
}



/*----------- NAVIGATION --------------*/
    nav ul li {width: auto;}
    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
