/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #ddd;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

/*----------- NAVIGATION --------------*/
#navWrapper{    
    background-color: #666;
    width: 100%;
}
nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background-color: #666;
    margin: 0 auto;

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul li {
    flex-basis: 33.33333%;
}
ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #444;
    color: #eee;
    padding: 1rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    ion-icon{
        width: 100%;
        font-size:3rem;
    }
}

ul li a:hover {
    background-color: #eee;
    color: #333;
}
ul li.active a {
    background-color: #000;
    color: #fff;
}
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;

    div#myCards{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 7em;
    figure{
        position: relative;
        margin: 0;
        width: 100%;
    img{width: 100%;}
    figcaption{
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        padding: .3rem $gutter;
    }
    } //end of figure

    div{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    div ion-icon {
        float: left;
        font-size: 1.5rem;
    }
    div span p{
        padding-left: 1.8rem;
        margin: 0;
    }
    } //end of inventoryWrapper
}


/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}