/* NAVIGATION STUFF GOES HERE  */
nav{
    height: auto;
    ul {
        display: flex;
        justify-content: start;
        border: none;
        li{border: none;}
    }
    #hamburgerBtn{
        display: none;
    }
}

/* MAIN STUFF GOES HERE */
main{
    /* CSS GRID CODE */
    grid-template-columns: 1fr 1fr 1fr;

figure{
  .hero {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  .article {
    .one {
      grid-column: 1;
      grid-row: 2;
    }
    .two {
      grid-column: 2;
      grid-row: 2;
    }
    .three {
      grid-column: 3;
      grid-row: 2;
    }
    .four {
        grid-column: 1;
        grid-row: 3;
    }
    .five {
        grid-column: 2;
        grid-row: 3;
    }
    .four {
        grid-column: 3;
        grid-row: 3;
    }
  } // end of article
} // end of figure
  /* End of CSS GRID CODE */
} // end of main