header, nav, main {
    max-width: 1200px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */


/* MAIN STUFF GOES HERE*/
main{
    .flexed{
    @for $i from 0 to 12{
        $w:($i / 12) * 100%;
        .large-#{$i}{flex-basis: $w;} 

        .tip, .faq-box{
            display: block;
        }
    }
}
}