header, nav, main {
    max-width: 1240px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
nav ul li a {
    padding: .2rem 1rem;
    border-radius: 10px;
    margin: .5rem 0;
}

/* MAIN STUFF GOES HERE*/
main{
    @for $i from 0 to 12{
        $w:($i / 12) * 100%;
        .large-#{$i}{flex-basis: $w;} 
    }
}