/* HEADER STUFF GOES HERE  */
header{
    grid-template-columns: 101px auto auto;;
    div#phone{
        display: block;
        justify-self: end;
        a{
            color: $secondaryColor;
            text-decoration: none;
            font-weight: $normalWeight;
            font-size: 1.5rem;
        } //end anchor
        a:hover{color: $primaryColor;}
    } //end phone
} // end header

/* NAVIGATION STUFF GOES HERE  */
div#hamburger, div#closex {display: none;}
nav{
    height: auto;
    ul {
        display: flex;
        justify-content: end;
        border: none;
        li{border: none;}
    }
}

/* MAIN STUFF GOES HERE*/
main{
    .flexed{
    @for $i from 0 to 12{
        $w:($i / 12) * 100%;
        .medium-#{$i}{flex-basis: $w;} 
    }
}
}

/* STRUCTURE STUFF GOES HERE  */
div#headerWrapper {grid-row-start: 1;}
div#navWrapper {grid-row-start: 2;}
div#mainWrapper {grid-row-start: 3;}
div#footerWrapper {grid-row-start: 4;}