header,
main,
nav,
footer {
  max-width: 64rem;
  margin: auto;
}

/*----------- BODY --------------*/

/*----------- HEADER --------------*/
#hamburgerBtn {
  display: none;
}

/*----------- NAVIGATION --------------*/
nav {
  position: static;
  transform: translateX(0);
  width: auto;
  ul {
    display: flex;
    margin-left: 2%;
  }
  div {
    display: none;
  }
}

/*----------- MAIN --------------*/

/*----------- FOOTER --------------*/
