


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/
form input.submitBtn {
    margin: 0 0 1.5rem 2rem;
}

form label.top, form div {padding: 1rem 0 0 1.5rem;}

/*----------- FOOTER --------------*/
    
