/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: $defaultFont;}


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    display: flex;
    padding: .5rem 2%;
    background-color: lighten($primaryColor, 35%);
}
header h1 {
    margin: 1em 0 0 .25em;
    font-size: 3em;
}
header img{
    width: 150px;
}

/*----------- NAVIGATION --------------*/
nav {
    background-color: $primaryColor;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 25%;
}
nav ul li a {
    display: block;
    background-color: $primaryColor;
    color: $secondaryColor;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li a:hover {
    background-color: lighten($primaryColor, 10%);
}
nav ul li.active a {
    background-color: darken($primaryColor, 18%);
    color: lighten($primaryColor, 35%);
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
    h1{
        margin-top: 1em;
        font-size: 1.5em;
    }
}


/*------------ FORM -------------*/
form fieldset {
    margin: 1rem 0 2em 0;
    border: 2px solid $secondaryColor;
    border-radius: 10px;
    padding: .5rem .5rem 1rem .5rem;
}

form legend{
    color: $secondaryColor;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding: 4%;
    color: lighten($secondaryColor, 10%);
    font-size: .8rem;
}

form div{padding: .25rem}

form label.top input, form label.top select{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border-radius: 20px;
    border: none;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    color: #555;
    padding: .25rem 0 .25rem 1.5rem;
}

form input.submitBtn {
    border: none;
    background-color: $secondaryColor;
    font-size: 1.5em;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    width: 96%;
    max-width: 20rem;
    margin: 2%;
}

form label.top input:required{
    border: rgb(218, 0, 0) solid 2.5px;
}

form label.top input:required:valid {
    border: rgb(12, 108, 12) solid 2.5px;
}

/*----------- FOOTER --------------*/
footer {
    background-color: lighten($primaryColor, 20%);
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}