
div#pageWrapper{
    display: grid;
    grid-template-areas: 
        "header header"
        "navigation content"
        "footer footer";
    grid-template-columns: 150px auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
a.myjump{display: none;}
nav{height: auto;}


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
