/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
body {
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $lightWeight;
    min-width: 320px;
}


/* HEADER  */
header {
    display: grid;
    grid-template-columns: 51px auto;
    align-items: center;
	padding: .5rem 2vw;
	h1 {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        padding-left: .5rem;
        color: $primaryColor;
    }
} // end header

/* NAVIGATION STUFF GOES HERE  */
nav {
    button {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        color: #333;
        padding: .5rem 2vw .5rem 1rem;
    } // end button

    ul {
        background-color: $menuColor;
        position: absolute;
        right: 0;
        width: 100%;
        display: none;
    }

    ul.open {
        display: block;
        z-index: 1;}

    ul li a {
         display: block;
         padding: .9rem 2vw;
         font-weight: $lightWeight;
         color: rgba(255, 255, 255, 0.9);
         text-decoration: none;
         text-align: center;
    } // end anchors

    ul li.active a {background-color: darken($menuColor, 8%);}
    ul li a:hover {background-color: darken($menuColor, 4%);}

}



/* MAIN  */
main {
 	p {padding: .5rem 2vw; color: #333; line-height: 125%;}
	h1 {
        padding: 1rem 2vw .5rem 2vw; 
        font-size: 1.5rem; 
        color: $secondaryColor;
        font-weight: $lightWeight
    }

    .member-collection{
        display: flex;
        flex-wrap: wrap;
        margin: 2em 0;;
    }
      .member{
        flex-basis: 98%;
        border-radius: $cbr;
        text-align: center;
        margin: auto;
        min-height: 644px;
      }
      img {
        padding: 1rem;
        width: 100%;
        height: auto;
    } // end of img

    /* CLIPPING MASKS */
    .circle {
        float: right;
        clip-path: circle(40% at 50% 45%);
        shape-outside: circle(40% at 50% 45%);
    }
    .triangle {
        float: right;
        clip-path: polygon(95% 0, 4% 0, 49% 96%);
        shape-outside: polygon(95% 0, 4% 0, 49% 96%);
    }
    .polygon{
        float: right;
        clip-path: polygon(33% 0, 91% 0, 67% 100%, 9% 100%);
        shape-outside: polygon(33% 0, 91% 0, 67% 100%, 9% 100%);
    }
    .cross{
        float: right;
        clip-path: polygon(0 26%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 100% 25%, 100% 57%, 65% 58%, 65% 91%, 36% 91%, 36% 57%, 0 57%);
        shape-outside: polygon(0 26%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 100% 25%, 100% 57%, 65% 58%, 65% 91%, 36% 91%, 36% 57%, 0 57%);
    }

    /* LAZY LOADING */
    section.thegallery figure {
        width: 100%;
        height: 0;
        padding-bottom: 58.3%; /* You define this doing image height / width * 100% */
        position: relative;
        margin: .5em;
    }
    
    section.thegallery figure img {
        width: 100%;
        height: auto;
        position: absolute;
    }

} // end main



/* FOOTER  */
#footerWrapper {background-color: #1b1b1b; }
footer {
    font-size: .85rem;
	padding: 1rem 0;
	color: #bbb;
	text-align: center;
	a{color: #eee;}
}
