header, nav, main {
    max-width: 1024px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
nav ul li a{
    font-size: .9rem;
    padding: .5rem 1.2rem;
}

/*MAIN STUFF GOES HERE*/
main{
    .boxes{
        /* CSS GRID STUFF*/
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: .5em;
        .boxes:nth-child(1) {grid-column: 1;}
        .boxes:nth-child(2) {grid-column: 2;}
        .boxes:nth-child(3) {grid-column: 3;}
        .boxes:nth-child(4) {grid-column: 4;}
    }
}