
    header, nav, main, footer {
        max-width: 1140px;
        margin: auto;
    }
    
    
    nav ul {padding-left: $gutter}
    nav li {width:auto;}
    nav a {padding: .5rem 1rem;}
  
    div.fruits figure{ flex-basis: 21%;} 