    nav li {width: 25%; float: left;}
    
    header{
    #header-text{ margin: 2.3em 0 0 1em; } /* top | right | bottom | left */
    h2 {display: block;}
    } // end of header
    
    main figure {
        float: right; 
        width: 48%; 
        margin-left: 2%;
        margin-bottom: .5rem;
    }
    
    div.news {
        clear: both;
        column-count: 2;
        column-rule: 1px solid #ddd;
    }
