/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
}

div#headerWrapper{
    background-color: $primaryColor;
}

header {
    display: flex;
    padding: 1rem $gutter;

    figure.logo {
        float: left;
        margin: 0;
    }

    #header-text{ margin: 2.7em 0 .5em 1em; } //end of #header-text
        /* top | right | bottom | left */

    h1 {
        margin: 0; 
        font-size: 1.5rem;
        font-weight: $heavyWeight;
    } // end of h1

    h2{
        display: none;
        margin: 0; 
        font-size: 1.2rem; 
        font-weight: normal;
    } // end of h2
    
} // end of header
  
div.navWrapper {
    background-color: $secondaryColor;
}

// added from module 4
nav {
    button {
      background: transparent;
      border: none;
      font-size: 1.5rem;
      padding: 0.5rem;
      color: rgba(255, 255, 255, 0.9);
    } //end button
    button span:nth-child(1) {display: block;}
    button span:nth-child(2) {display: none;}
    button.open span:nth-child(1) {display: none;}
    button.open span:nth-child(2) {display: block;}
  }
  nav ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  nav ul.open {
    display: block;
  }
  nav ul li a {
    display: block;
    color: #fff;
    padding: 0.5rem 0;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
  }
  nav ul li a:hover {
    background-color: lighten($menuColor, 10%);
    color: #fff;
  }
  nav ul li.active a {
    background-color: darken($menuColor, 8%);
    color: #fff;
  } // end of mod 4



main{display: block;

    picture.hero {width: 100%;}
    img {
        width: 100%;
        height: auto;
    }

 h1 {
    color: $primaryColor;
    font-weight: $heavyWeight;
    margin: .3em $gutter;
} // end of h1

p{ margin: 1em $gutter 2em$gutter;}
  
 figure{
    margin-left: 0;
    width: 100%;
    img {width: 100%;} // end of figure img
} // end of figure

 figcaption {
    text-align: center; font-size: .8rem;
} // end of figcaption
} // end of main


div#footerWrapper{ 
    background-color: $primaryColor;
} 

footer {
    text-align: center;
    padding: 1rem $gutter;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}